extends layout

block content
  h1= title
  p Welcome to CafePayPal

    if message
        p= message
    form(class='form-horizontal',action='/page1',method='POST',id='loginForm')
        fieldset
                div.control-group
                div.controls
                    button(type='submit',class='btn btn-success') Let's Eat


          
                  